<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
        <%- include('../partials/header_lesson.ejs')  %>
        <%- include('../partials/side-bar.ejs')  %>
        <%- body %>   
        <%- include('../partials/bottom-bar.ejs')  %>

    <script src="/js/script.js"></script>
    </body>
</html>